article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; }

audio:not([controls]) { display: none; height: 0; }

[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

mark { background: #ff0; color: #000; }

p, pre { margin: 1em 0; }

code, kbd, pre, samp { font-family: monospace,serif; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }

q:before, q:after { content: ''; content: none; }

sub, sup { line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

dl, menu, ol, ul { margin: 1em 0; }

dd { margin: 0 0 0 40px; }

menu, ol, ul { padding: 0 0 0 40px; }

nav ul, nav ol { list-style: none; list-style-image: none; }

img { border: 0; -ms-interpolation-mode: bicubic; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }

fieldset { border: 0; margin: 0; padding: 0; }

legend { border: 0; padding: 0; white-space: normal; }

button, input, select, textarea { margin: 0; vertical-align: baseline; }

button, input { line-height: normal; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; -moz-appearance: button; appearance: button; cursor: pointer; }

button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="search"] { -webkit-appearance: textfield; -moz-appearance: textfield; appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }

table { border-collapse: collapse; border-spacing: 0; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { -webkit-overflow-scrolling: touch; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { font-size: 1rem; background-color: #111111; background-image: none; font-family: "Helvetica Neue", Arial, sans-serif; line-height: 1.8; color: #555555; }

::-moz-selection { background-color: #969696; color: #969696; text-shadow: none; }

::selection { background-color: #969696; color: #969696; text-shadow: none; }

[role="button"], .trigger, [class^="trigger"], .js-control { cursor: pointer; color: #3a99cf; padding: 0.5em; }

[role="button"], .trigger, .js-control { display: inline-block; }

sub, sup { font-size: 0.6rem; position: relative; line-height: 1; vertical-align: baseline; }

code, pre { font-size: 14px; line-height: 1.2; background-color: #053845; color: #94A59F; margin-bottom: 1em; }

code { display: block; padding: 5px 8px; border-radius: 4px; }

h1, h2, h3, h4, h5, h6 { margin: 0 0 0.8rem; font-size: 0.8rem; font-family: inherit; font-weight: bold; text-rendering: optimizelegibility; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-weight: normal; font-size: 0.75em; }

h1 { font-size: 1rem; margin-top: 1rem; line-height: 1.2; font-family: "Raleway", "Helvetica Neue", Arial, sans-serif; }
.search-header h1 { margin-top: 0; }

@media screen and (min-width: 768px) { h1 { font-size: 2.4rem; margin-top: 1.5rem; } }
h2 { font-size: 1.8rem; }

h3 { font-size: 1.2rem; }

h4 { font-size: 1.05rem; margin-bottom: 0; }

h5, h6 { font-size: 0.9rem; margin-bottom: 0; }

.module-header { margin: 0; }

.search-header h1 { font-size: 0.8rem; line-height: 1.1; }

.title--tight { margin-bottom: 0.25em; }

.title--lg { font-size: 1.5rem; line-height: 1.2; margin-bottom: 0.2rem; }

p { margin: 0; margin-bottom: 0.8rem; }
p :last-of-type { margin-bottom: 0; }

a { text-decoration: none; color: #3a99cf; -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }
a:visited { color: #4fa4d4; }
a:hover { text-decoration: underline; color: #2f8cc1; }
a:focus { outline: thin dotted; color: #2f8cc1; }
a:hover, a:active { outline: 0; }

a:hover:after, a:hover:before { opacity: 1; }

.more { line-height: 2; }
.more:nth-child(2n + 1) { margin-left: 1rem; }

em { font-style: italic; }

small { font-size: 0.6rem; }

cite { font-style: normal; }

img { height: auto; vertical-align: middle; }

video { width: 100%; }

object:focus { outline: none; }

hr { margin: 0.8rem 0; border: 0; border-top: 1px solid #444444; }

.divider-vert { height: 1.2rem; margin: 0 0.6rem; display: inline-block; border: 0; border-right: 1px solid rgba(255, 255, 255, 0.25); border-left: 1px solid rgba(0, 0, 0, 0.25); vertical-align: middle; }

figure { display: inline-block; padding: 0.5rem; margin-bottom: 1.2rem; }
figure img { border: solid 1px #444444; }

figcaption { font-size: 0.6rem; font-style: italic; color: #555555; padding: 0.2rem; }

.container:before, .whitespace:before, .general:before, .music-view:before, .movie-view:before, .tv-view:before, .ebooks-view:before, .audiobooks-view:before, .content:before, .section-home:before, .search:before, .confirmation:before, .error:before, footer[role="contentinfo"]:before, .container:after, .whitespace:after, .general:after, .music-view:after, .movie-view:after, .tv-view:after, .ebooks-view:after, .audiobooks-view:after, .content:after, .section-home:after, .search:after, .confirmation:after, .error:after, footer[role="contentinfo"]:after { display: table; content: ""; }
.container:after, .whitespace:after, .general:after, .music-view:after, .movie-view:after, .tv-view:after, .ebooks-view:after, .audiobooks-view:after, .content:after, .section-home:after, .search:after, .confirmation:after, .error:after, footer[role="contentinfo"]:after { clear: both; }

.pull-left { float: left; }

.pull-right { float: right; }

.img--fluid { max-width: 100%; }

.text-lg { font-size: 0.9rem; }

.upcase { text-transform: uppercase; }

.hidden { display: none !important; visibility: hidden; }

.visuallyhidden { overflow: hidden; position: absolute; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { position: static; clip: auto; height: auto; width: auto; margin: 0; overflow: visible; }

.invisible { visibility: hidden; }

@media screen and (min-width: 767px) { body { font-size: 1rem; line-height: 2; } }
@media screen and (min-width: 800px) { html, body { height: 100%; } }
@media screen and (min-width: 800px) { .row { width: 100%; position: relative; }
  .row:before, .row:after { display: table; content: ""; }
  .row:after { clear: both; }
  .row > [class*="span"] { display: block; float: left; width: 100%; min-height: 28px; margin-left: 2.127659574468085%; }
  .row > [class*="span"]:first-of-type { margin-left: 0; }
  .row .span12 { width: 100%; }
  .row .span11 { width: 91.48936170212765%; }
  .row .span10 { width: 82.97872340425532%; }
  .row .span9 { width: 74.46808510638297%; }
  .row .span8 { width: 65.95744680851064%; }
  .row .span7 { width: 57.44680851063829%; }
  .row .span6 { width: 48.93617021276595%; }
  .row .span5 { width: 40.42553191489362%; }
  .row .span4 { width: 31.914893617021278%; }
  .row .span3 { width: 23.404255319148934%; }
  .row .span2 { width: 14.893617021276595%; }
  .row .span1 { width: 6.382978723404255%; }
  .row .offset12 { margin-left: 104.25531914893617%; }
  .row .offset12:first-of-type { margin-left: 102.12765957446808%; }
  .row .offset11 { margin-left: 95.74468085106382%; }
  .row .offset11:first-of-type { margin-left: 93.61702127659574%; }
  .row .offset10 { margin-left: 87.23404255319149%; }
  .row .offset10:first-of-type { margin-left: 85.1063829787234%; }
  .row .offset9 { margin-left: 78.72340425531914%; }
  .row .offset9:first-of-type { margin-left: 76.59574468085106%; }
  .row .offset8 { margin-left: 70.2127659574468%; }
  .row .offset8:first-of-type { margin-left: 68.08510638297872%; }
  .row .offset7 { margin-left: 61.70212765957446%; }
  .row .offset7:first-of-type { margin-left: 59.574468085106375%; }
  .row .offset6 { margin-left: 53.191489361702125%; }
  .row .offset6:first-of-type { margin-left: 51.063829787234035%; }
  .row .offset5 { margin-left: 44.68085106382979%; }
  .row .offset5:first-of-type { margin-left: 42.5531914893617%; }
  .row .offset4 { margin-left: 36.170212765957444%; }
  .row .offset4:first-of-type { margin-left: 34.04255319148936%; }
  .row .offset3 { margin-left: 27.659574468085104%; }
  .row .offset3:first-of-type { margin-left: 25.53191489361702%; }
  .row .offset2 { margin-left: 19.148936170212764%; }
  .row .offset2:first-of-type { margin-left: 17.02127659574468%; }
  .row .offset1 { margin-left: 10.638297872340425%; }
  .row .offset1:first-of-type { margin-left: 8.51063829787234%; } }
.inline-block { display: inline-block; margin-bottom: 0.5rem; padding-right: 1em; }

@media screen and (min-width: 480px) { .inline-block { max-width: 20em; } }
.l-constrained { margin: 0 auto; max-width: 1280px; }

.l-max1280 { max-width: 1280px; }

.l-max1024 { max-width: 1024px; }

.l-max960 { max-width: 960px; }

.l-max800 { max-width: 800px; }

.l-max720 { max-width: 720px; }

.l-max600 { max-width: 600px; }

.v-min600, .v-min768 { overflow: hidden; position: absolute; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0; }
.v-min600.focusable:active, .v-min600.focusable:focus, .v-min768.focusable:active, .v-min768.focusable:focus { position: static; clip: auto; height: auto; width: auto; margin: 0; overflow: visible; }

@media screen and (min-width: 600px) { .v-min600 { overflow: visible; position: static; clip: auto; height: auto; width: auto; margin: 0; } }
@media screen and (min-width: 767px) { .v-max767 { display: none; }
  .v-min768 { overflow: visible; position: static; clip: auto; height: auto; width: auto; margin: 0; } }
@media screen and (max-width: 979px) { body { padding-top: 0; } }
@media screen and (min-width: 1024px) { .v-max1023 { display: none; }
  .v-min1024 { display: block; } }
@media screen and (min-width: 1280px) { .v-max1279 { display: none; } }
#pg-container:after { content: "lt600"; display: none; }

.container { position: relative; width: auto; padding: 0 20px; max-width: 50em; min-height: 100%; height: auto !important; height: 100%; margin: 0 auto; border-right: 0; border-left: 0; background-color: #111111; color: #969696; }

.container { margin-bottom: -120px; }

@media screen and (min-width: 600px) { #pg-container:after { content: "gt600"; display: none; } }
@media screen and (min-width: 767px) { #pg-container:after { content: "gt768"; }
  .container:before, .container:after { line-height: 0; } }
@media screen and (min-width: 1280px) { #pg-container:after { content: "gt1280"; display: none; } }
body { margin: 0; padding: 0; width: 100%; }

[role="main"] { padding: 1em 1rem; position: relative; min-height: 30em; margin: 0 auto; color: #969696; background-color: #111111; }

footer[role="contentinfo"] { padding: 2em 0 3em; position: relative; margin: 0 auto; background-color: transparent; color: #969696; border-top: solid 1px #444444; font-size: .875em; }

footer[role="contentinfo"] { height: 120px; }
footer[role="contentinfo"] .nav--inline:first-of-type { float: left; }
footer[role="contentinfo"] .nav--inline:last-of-type { float: right; }

.footer-push { height: 120px; }

.is-centered, .row .is-centered { float: none; margin-right: auto !important; margin-left: auto !important; }

.text-centered { text-align: center; }

@media screen and (min-width: 767px) { [role="main"] { padding: 1em 2rem 6em; /* intended for registration flows */ }
  .whitespace [role="main"] { padding-top: 4em; }
  .stage { margin-right: -2rem; margin-left: -2rem; } }
@media screen and (max-width: 979px) { body { padding-top: 0; } }
.alert--info, .alert--success, .alert--error, .alert--warning { padding: 0.5rem 2rem 0.5rem 1rem; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }

.alert--info, .alert--success, .alert--error, .alert--warning { position: relative; max-width: 60em; margin: 0.5rem auto; line-height: 1.8; }
.alert--info h2, .alert--success h2, .alert--error h2, .alert--warning h2, .alert--info h3, .alert--success h3, .alert--error h3, .alert--warning h3, .alert--info h4, .alert--success h4, .alert--error h4, .alert--warning h4, .alert--info h5, .alert--success h5, .alert--error h5, .alert--warning h5, .alert--info p, .alert--success p, .alert--error p, .alert--warning p { margin-bottom: 0.25rem; }

.alert--info { border: 1px solid #addcf2; background: #d9eff9; color: #222222; }
.alert--info a, .alert--info a:visited { color: #2a7dac; }

.alert--success { border: 1px solid #bae596; background: #d5efbf; color: #7d7d7d; }
.alert--success a, .alert--success a:visited { color: #2a7dac; }

.alert--error { border: 1px solid #f2aaaa; background: #f9d6d6; color: #7d7d7d; }
.alert--error a, .alert--error a:visited { color: #2a7dac; }

.alert--warning { border: 1px solid #f5df83; background: #f9ebb2; color: #7d7d7d; }
.alert--warning a, .alert--warning a:visited { color: #2a7dac; }

.alert-close { position: absolute; top: 0; right: 0; padding: 9px; cursor: pointer; font-size: 1rem; font-weight: bold; line-height: .75em; text-align: center; vertical-align: middle; }
.alert-close:active { background-color: rgba(0, 0, 0, 0.2); }

.alert--flyover { max-width: 100%; position: relative; margin: 0; padding: 0.5em 2em; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; text-align: center; }
.alert--flyover p { max-width: 60em; }
.alert--flyover .alert-inner { max-width: 60em; margin: 0 auto; }

.btn--simple, .btn--primary { margin-bottom: 0.4rem; line-height: 1.2rem; padding: 0.4rem 0.8rem; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; display: inline-block; text-align: center; cursor: pointer; white-space: nowrap; }
.btn--simple:hover, .btn--primary:hover, .btn--simple:hover:active, .btn--primary:hover:active, .btn--simple:active, .btn--primary:active, .btn--simple:focus, .btn--primary:focus { text-decoration: none; cursor: pointer; }
.btn--simple .divider-vert, .btn--primary .divider-vert { display: inline-block; vertical-align: middle; }
[disabled="disabled"].btn--simple, [disabled="disabled"].btn--primary, [disabled="disabled"].btn--simple:hover, [disabled="disabled"].btn--primary:hover { box-shadow: none; background: #111111; color: #969696; border-color: #969696; cursor: default; }

.btn--simple { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); border-none: 1px solid black; background: #111111; background-image: none; color: #969696; }
.btn--simple:hover, .btn--simple:hover:active, .btn--simple:active, .btn--simple:focus { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #040404), color-stop(100%, #000000)); background-image: -webkit-linear-gradient(top, #040404, #000000); background-image: -moz-linear-gradient(top, #040404, #000000); background-image: -o-linear-gradient(top, #040404, #000000); background-image: linear-gradient(top, #040404, #000000); color: #3a99cf; }
.btn--simple:visited { color: #969696; }

.btn--primary { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); background: #3a99cf; background-image: none; color: white; }
.btn--primary:hover, .btn--primary:hover:active, .btn--primary:active, .btn--primary:focus, .btn--primary:visited { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2f8cc1), color-stop(100%, #256e98)); background-image: -webkit-linear-gradient(top, #2f8cc1, #256e98); background-image: -moz-linear-gradient(top, #2f8cc1, #256e98); background-image: -o-linear-gradient(top, #2f8cc1, #256e98); background-image: linear-gradient(top, #2f8cc1, #256e98); color: white; }

.btn-subtext { display: block; margin-top: -0.5em; font-size: 0.625em; text-transform: uppercase; }

.btn-group { margin: 1em 0; }

.btn--large, .btn--large:visited { padding: 1rem; font-size: 1.2rem; }

.btn--multiline { width: 100%; text-align: left; font-size: 0.7rem; line-height: 1.2; }

.tag--basic, .tag--warning, .tag--epub, .tag--abridged, .tag--pdf, .tag--unabridged, .tag--mp3 { padding: 0.1rem 0.25rem; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; display: inline-block !important; font-style: normal; font-size: 12px; text-transform: uppercase; color: #16668a; }
.meta .tag--basic, .meta .tag--warning, .meta .tag--epub, .meta .tag--abridged, .meta .tag--pdf, .meta .tag--unabridged, .meta .tag--mp3 { display: inline-block; }
@media screen and (min-width: 768px) { .tag--basic, .tag--warning, .tag--epub, .tag--abridged, .tag--pdf, .tag--unabridged, .tag--mp3 { font-size: 13px; } }

.tag--basic { background-color: #d9eff9; color: #16668a; }

.tag--warning { background-color: #f9ebb2; color: #705c09; }

.tag--epub, .tag--abridged { background-color: #f9ebb2; color: #705c09; }

.tag--pdf, .tag--unabridged { background-color: #d9eff9; color: #16668a; }

.tag--mp3 { background-color: #f9ebb2; color: #705c09; }

.tag--large { font-size: 1.5em; line-height: 1.25; }

.tag--badge, .tag--badge--tl { position: absolute; top: -0.5em; left: -0.5em; }

.tag--badge--tr { left: auto; right: 0.5em; }

ul, ol { margin: 0 0 0.8rem 1.6rem; padding: 0; }

ul ul, ul ol, ol ol, ol ul { margin-bottom: 0; }

ol { list-style: decimal; }

li { line-height: 1.8; }

dl { margin-bottom: 0.8rem; }

dt, dd { line-height: 1.8; }

dt { margin-bottom: 0.4rem; font-size: 1.125rem; font-weight: bold; color: inherit; }

dd { margin: 0 0 1.2rem 0; }

/* table-cell displays list items in rows/cells matrix */
/* toggled lists for DL elements */
@media screen and (min-width: 768px) { .list--table-header { display: block; } }
h1, h2, h3, h4 { color: #c9c9c9; }

h1 { color: #bababa; }
